.circleindicator-container  {
	-fx-padding: 5.0;
}
.circleindicator-container > .circleindicator-label {
	-fx-font-weight: bold;
 	-fx-font-size: 1em;
	-fx-text-fill: circleindicator-color;
	-fx-padding: 5.0;
}