/* a slightly darker background for screens with lower contrast */
.background, .borderpane-lesson, .borderpane-test, .master-scrollpane,
.lesson-page-content, .navigation-content {
    -fx-background-color: #111;
    -fx-background: #111;
}

.box-description {
    -fx-text-fill: #eee;
    -fx-fill: #eee;
}

.settings-icon {
    -fx-fill: #fff;
}

.page-box-title {
    -fx-fill: #eee;
}

.text-no-color {
    -fx-text-fill: #fff;
    -fx-fill: #fff;
}

.code-text {
    -fx-text-fill: #eee;
}

 .code-output-text {
    -fx-text-fill: #fff;
    -fx-background-color: #191919;
  }

.navigation-button {
    -fx-fill: #363636;
}

.navigation-button:pressed {
    -fx-fill: #484848;
}

.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: #181818;
}

/*
The greeting ("Hello, Ian!") on the home page
*/
.greeting-text {
    -fx-text-fill: #eee;
}

/* the chevron text for navigating pages */
.navigation-text {
    -fx-fill: #eee;
}

.material-icons-light:pressed .button-icon,
.material-icons-light:hover .button-icon {
    -fx-fill: #ccc;
}

/* things like the edit icon etc */
.material-icons-dark .button-icon {
    -fx-fill: #fff;
}

.material-icons-dark:pressed .button-icon,
.material-icons-dark:hover .button-icon {
    -fx-fill: #ccc;
}

.inner-chapter-box {
    -fx-background-color: #404040;
}

.chapter-box, .recent-stats-box, .settings-box {
    -fx-background-color: #272727;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1), 15, 0, 0, 8);
}

/*text for grade result inside circle*/
.grade-text {
    -fx-fill: #272727;
}

.settings-page, .settings-page-text {
    -fx-text-fill: #fff;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #353535;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #404040;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(15.0, 15.0, 15.0);
}

/* Up Arrow */
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

/* Down Arrow */
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

/* Right Arrow */
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

/* Left Arrow */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}

/*******************************************************************************
 *                                                                             *
 * Scroll Pane			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}