/* Colors taken from https://material.io/design/color/the-color-system.html#tools-for-picking-colors */

/* the text right below the home icon in the top left corner */
.home-text {
    -fx-text-fill: #CE93D8; /* Purple 200*/
}

.circleindicator-container  {
	circleindicator-color: #7B1FA2; /* Purple 700 */
}

.lesson-side-panel-text {
    -fx-text-fill: #E1BEE7; /* Purple 100 */
}

.sidebar, .sidebar-scrollpane {
    -fx-background-color: #6A1B9A; /* Purple 800 */
    -fx-background: #6A1B9A; /* Purple 800 */
}

 .jfx-radio-button {
    -jfx-selected-color: #AB47BC; /* Purple 400 */
 }

.jfx-toggle-button {
    -jfx-toggle-color: #AB47BC; /* Purple 400 */
}

.jfx-button-raised-color {
    -fx-background-color: #8E24AA; /* Purple 600 */
}

.jfx-button-flat-color {
    -fx-text-fill: #8E24AA; /* Purple 600 */
}

.jfx-rippler {
    -jfx-rippler-fill: #CE93D8; /* Purple 200 */
}

.menu-bar {
    -fx-background-color: #6A1B9A /* Purple 800 */
}

.title-bar {
    -fx-background-color: #7B1FA2; /* Purple 700 */
}

.jfx-text-field, .jfx-password-field {
    -jfx-focus-color: #8E24AA; /* Purple 600 */
    -jfx-unfocus-color: #E1BEE7; /* Purple 100 */
}

.lesson-rectangle {
    -fx-fill: #AB47BC; /* Purple 400 */
}

.code-text {
    -fx-border-color: #AB47BC; /* Purple 400 */
}