@font-face {
    src: url('RobotoMono-Bold.ttf');
}

@font-face {
    src: url('RobotoMono-BoldItalic.ttf');
}

@font-face {
    src: url('RobotoMono-Italic.ttf');
}

@font-face {
    src: url('RobotoMono-Light.ttf');
}

@font-face {
    src: url('RobotoMono-MediumItalic.ttf');
}

@font-face {
    src: url('RobotoMono-Regular.ttf');
}

@font-face {
    src: url('RobotoMono-Thin.ttf');
}

@font-face {
    src: url('RobotoMono-ThinItalic.ttf');
}

@font-face {
    src: url('MavenPro-Black.ttf');
}

@font-face {
    src: url('MavenPro-Bold.ttf');
}

@font-face {
    src: url('MavenPro-Medium.ttf');
}

@font-face {
    src: url('MavenPro-Regular.ttf');
}

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.separator-home {

}

/* remove the thin border around the nodes */
.borderpane {
    -fx-box-border: transparent
}

/*
.borderpane-lesson {
    -fx-background-color: #ededed;
}

.borderpane-test {
    -fx-background-color: #ededed;
}
*/
.side-panel-title {
    -fx-font-size: 20px;
    -fx-font-family: "Roboto Mono Bold";
    -fx-text-fill: #ffffff;
    -fx-padding: 0 0 0 15px;

}

.lesson-side-panel-text {
    -fx-font-size: 18px;
    -fx-font-family: "Roboto Mono Light";
}

.lesson-text {
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Mono Regular";
 }

 .lesson-header-one-text {
    -fx-font-size: 22px;
    -fx-font-family: "Roboto Mono Bold";
 }

.lesson-header-two-text {
    -fx-font-size: 20px;
    -fx-font-family: "Roboto Mono Bold";
}

.lesson-header-three-text {
    -fx-font-size: 17px;
    -fx-font-family: "Roboto Mono Bold";
}

.lesson-image {
    -fx-padding: 30px;
}

 .code-text {
    -fx-font-size: 15px;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-border-width: 1;
    -fx-font-family: "monospace";
  }

  .code-output-text {
    -fx-font-size: 15px;
    -fx-padding: 20px;
    -fx-font-family: "Maven Pro Regular"; /* TODO: Is this even applying the font?!!! */
    -fx-border-padding: 50px;
  }

.jfx-button {
    -fx-text-fill: #fff;
    -fx-padding: 10px;
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Mono Bold";
}

.jfx-button-raised {
    -jfx-button-type: RAISED;
}

.jfx-button-flat {
    -fx-background-color: transparent;
    -jfx-button-type: FLAT;
}

.start-test-button {
    -fx-font-size: 28px;
}

.submit-test-button {
    -fx-font-size: 16px;
}

.exam-radio-button:disabled, .test-checkbox-button:disabled {
    -fx-opacity: 0.8;
}

.login-box {
    -fx-background-color: #fff;
}

.jfx-text-field, .jfx-password-field {
    -fx-font-weight: BOLD;
    -fx-alignment: top-left;
    -fx-max-width: 300;
}

.sign-in-field {
    -fx-max-width: 150;
}

/*
The greeting ("Hello, Ian!") on the home page
*/
.greeting-text {
    -fx-font-family: "Roboto Mono Regular";
    -fx-font-size: 3.0em;
}

.drop-shadow {
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1), 15, 0, 0, 8);
}

/* the chevron text for navigating pages */
.navigation-text {
    -fx-font-family: "Roboto Mono Regular";
    -fx-font-size: 2.0em;
}

/*text for grade result inside circle*/
.grade-text {
    -fx-font-family: "Roboto Mono Regular";
    -fx-font-size: 3.5em;
}

/* Main text below the grade circle */
.grade-main-text {
    -fx-font-size: 2.0em;
}

/* set default fill of svg path */
/*
.icon-button .button-icon {
    -fx-fill: #fff;
}
*/

/* set default fill of svg path */
/*
.icon-button:focused {
    -fx-background-color: lightblue;
    -fx-background-radius: 0;
}
*/

/* remove default button style & set size */
.icon-button {
    -fx-background-color: transparent, transparent, transparent, transparent, transparent;
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-min-height: 30;
    -fx-min-width: 30;
    -fx-max-height: 30;
    -fx-max-width: 30;
}

/* modify svg path fill for hovered/pressed button */
/*
.icon-button:pressed .button-icon,
.icon-button:hover .button-icon {
    -fx-fill: #fff;
}
*/
.chapter-box-scrollpane {
    -fx-alignment: center;
}

/* Home page container for all of the chapters */
.chapter-box-container {
    -fx-alignment: center;
    -fx-padding: 50px 0 150px 0;
    -fx-spacing: 50px;
}

.recent-box, .settings-box {
    -fx-padding: 20px;
    -fx-background-radius: 25px;
}

.chapter-box {
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-background-radius: 25px;
}

.chapter-title-text {
    -fx-font-size: 1.5em;
    -fx-font-family: "Roboto Mono Bold";
}

.settings-text {
    -fx-font-size: 2em;
    -fx-font-family: "Roboto Mono Bold";
    -fx-padding: 0 0 0 23px;
}

.page-title-text {
    -fx-font-size: 2.5em;
    -fx-font-family: "Roboto Mono Bold";
}

.chapter-description-text {
    -fx-font-family: "Roboto Mono Regular";
}

/* the text right below the home icon in the top left corner */
.home-text {
    -fx-font-family: "Roboto Mono Regular";
    -fx-padding: 12px 0 0 0;
}

.settings-name {
    -fx-font-family: "Roboto Mono Regular";
    -fx-font-size: 30px;
    -fx-padding: 0 20px 0 0;
}

.settings-page-text {
    -fx-font-family: "Roboto Mono Regular";
    -fx-font-size: 18px;
    -fx-padding: 0 20px 0 0;
}

.delete-user-button {
    -fx-background-color: #E53935; /* Red 600 */
}

.material-icons-light {
    -fx-fill: #fff;
}

.material-icons-light-solid .button-icon {
    -fx-fill: #fff;
}